/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.nav-title{
    color: rgb(129, 5, 32);
    
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(201, 178, 178);
}
.btn-primary{
    background-color: chocolate;
  
}

/* header related style */

.header{
background-image: url(portfolio-resources-main/images/header_bg.png);
background-repeat: no-repeat;
background-position: bottom right;
}

.banner{
    display: flex;
    justify-content: space-between;
}

.banner .profile-picture{
    width: 500px;
    align-items: center;
}

.banner-content{
    
}


/* main section */


.about{
    padding: 130px;
    border-radius: 10px;
    background-color: blanchedalmond;
    text-align: center;
}